body {
  background-color: #38435b;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

nav {
  background-color: black;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
nav ul li a {
  display: block;
  padding: 10px 15px;
}

nav ul li a:hover {
  background-color: white;
  color: black;
}

main {
  width: 800px;
  margin: 0 auto;
}

main a {
  color: yellow;
}

main a:hover {
  text-decoration: underline;
}

main .post-item {
  background-color: white;
  margin: 10px 0;
}

main .post-item a {
  padding: 10px;
  color: black;
  display: block;
  text-decoration: none;
}

main .post-item a:hover {
  background-color: black;
  color: white;
}
