body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  padding: 0;
  margin: 0;
  height: 100vh;
}

.markdown {
  background-color: black;
  color: white;
  padding: 10px;
  min-width: 40%;
  max-width: 40%;
  height: 100%;
  overflow: auto;
  overflow-y: auto;
}

form {
  min-width: 20%;
  padding: 10px;
}

.preview {
  min-width: 40%;
  max-width: 40%;
  padding: 20px;
  box-sizing: border-box;
}

.preview code {
  padding: 10px;
  background-color: #efefef;
}

details {
  padding: 10px;
}

details > div {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}

.step,
.author {
  display: flex;
  gap: 10px;
  flex-direction: row;
}

input {
  padding: 5px;
}
